/* NAVBAR */

.navbar {
	height: auto;
}

.navbar-dark {
	background-color: #97BE11 !important;
}

.navbar-brand,
.nav-link {
	color: #fff !important;
}

.navbar-brand {
	text-transform: capitalize;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

.nav-link {
	text-decoration: none !important;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 10px;
}

.nav-link:hover::after {
	content: '';
	color: #ededed;
	display: block;
	width: 20px;
	margin: left;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.jumbotron {
	background-color: #DFE9AC !important;
}

.button-nav-link {
	margin-left: 10px;
}

.button-pink {
	background-color: #11d732 !important;
	border: 1px solid #11d76a !important;
}

.button-pink:hover {
	background-color: rgb(11, 179, 47) !important;
	border: 1px solid rgb(11, 179, 39) !important;
}

.button-outline-pink {
	border: 1px solid #18d711 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #11d73c !important;
}

.button-outline-pink:hover {
	background-color: #11d73c !important;
	color: #ededed !important;
}

/* NAVBAR PC */

@media (min-width: 992px) {

	.navbar {
		height: 70px;
	}

	.nav-link {
		text-transform: uppercase;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #fff;
		width: 20px;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.button-nav-link {
		margin-left: 20px;
	}
}

/* SIDEBAR */

.username {
	margin-left: -20px;
	font-weight: bold;
}

a.list-group-item-action {
	text-transform: capitalize !important;
}

a.list-group-item-action:hover {
	background-color: rgba(220, 220, 220, 0.6) !important;
	border: 1px solid rgba(220, 220, 220, 0.6) !important;
}

a.list-group-item-action.active {
	color: #fff;
	background-color: #11d732 !important;
	border: 1px solid #11d73c !important;
}

/* MAPS */
path.fill-0 {
	fill: #005B96 !important;
}

path.fill-0:hover {
	fill: #011F4B !important;
}

/* MAPS POPOVER */


/* RESULT KUIS */
.bgr-soal {
	background-color: #F0F1F2;
	border: 1px solid #D2D3D4;
}

.question {
	font-weight: bold;
}

.answer {
	font-size: 14px;
	font-weight: 200;
}

/* FOOTER */
.feature-footer {
	background-color: #080C15;
	padding: 30px 0 20px 0;
}

.title-footer {
	color: #ADADAD;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
	width: auto;
}

.title-footer::after {
	content: '';
	display: block;
	margin: 10px 0;
	width: 70px;
}

.content-footer {
	font-size: 14px;
	color: #ADADAD;
}

footer.footer {
	color: #ADADAD;
	background-color: #080C15;
	font-size: 14px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.video-player {
		width: 100%;
		height: 200px;
	}

	.video-player-mini {
		width: 100%;
		height: 170px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.video-player {
		width: 100%;
		height: 300px;
	}

	.video-player-mini {
		width: 100%;
		height: 150px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.video-player {
		width: 100%;
		height: 400px;
	}

	.video-player-mini {
		width: 100%;
		height: 220px;
	}
}

.breadcrumb {
	border: 1px solid #D9DADB;
	font-size: 12px;
	padding: 5px 10px;
}

.icon-panel-teacher {
	width: 80px;
	height: 80px;
	color: white;
	background-color: #11d75d;
}
