<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Diabetes</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home">Sipede</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informasi">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tentang Saya</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid pt-5 pb-5 mb-5">
    <div class="container">
      
      <h2>Tentang Pengembang</h2>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
              <img src="{{ url_for('static', filename='css/images/Arvi.jpg')}}" class="img-fluid img-thumbnail" style="border-radius: 50%">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Nama</td>
                  <td>:</td>
                  <td>Arvi Pramudyantoro</td>
                </tr>
                <tr>
                  <td>NIM</td>
                  <td>:</td>
                  <td>18.11.1987</td>
                </tr>
                <tr>
                  <td>Prodi</td>
                  <td>:</td>
                  <td>S1 Informatika</td>
                </tr>
                <tr>
                  <td>Telp</td>
                  <td>:</td>
                  <td>(+62) 821-8272-xxx4</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>:</td>
                  <td>arvipramudyantoro@gmail.com</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>
      </div>
    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

<div class="container-fluid bg-dark text-white" style="padding: 20px 0; margin-top: 150px">
  <div class="container">
    <small>&copy; 2021. Sipede (Sistem Prediksi Penyakit Diabetes). Arvi Pramudyantoro</small>
  </div>
</div>

</html>