<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="fonts/font-awesome.min.css">
  

    <title>Prediksi Diabetes</title>
  </head>
  <body>
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/home">Sipede</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" href="/informasi">Informasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index">Prediksi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Tentang Saya</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
<!--awal-->
<div id="news2">
  <div class="container">
   <div class="row">
     <div class="col-md-8">
       <h2 class="text-left"><strong>BERITA TERKINI</strong></h2>
       <br>
       <h3>Diabetes Tipe 2 Bisa Menyerang Berbagai Bagian Tubuh, Simak Rincian Berikut</h3>
       <img src="{{ url_for('static', filename='css/images/Informasi1.jpg')}}" width = "500spx" class="img-fluid img-thumbnail: 10%">
        <p class="text-justify">  <b><i>Suara.com</i></b> - Diabetes tipe 2 terjadi saat tubuh tidak memproduksi cukup insulin atau menolak insulin, sehingga gula darah meningkat. Glukosa darah di dalam tubuh dikendalikan oleh insulin yang diproduksi oleh pankreas.</p>
        <p class="text-justify">  Produksi insulin yang tidak mencukupi dapat menyebabkan diabetes. Kondisinya dapat dikontrol tetapi dalam banyak kasus malah bisa berlangsung seumur hidup.</p>
        <p class="text-justify">  Produksi insulin yang tidak mencukupi dapat menyebabkan diabetes. Kondisinya dapat dikontrol tetapi dalam banyak kasus malah bisa berlangsung seumur hidup.</p>
        <p class="text-justify"> <b> 1. Kulit </b></p>
        <p class="text-justify">  Masalah kulit pada pasien diabetes disebabkan oleh pembuluh darah yang rusak. Hal ini yang kemudian dapat menyebabkan pigmentasi kulit. Faktanya, bercak hitam di tangan dan kaki Anda biasanya merupakan gejala pertama diabetes. Ini tidak menyakitkan tetapi dapat diketahui dengan mudah.</p>
        <p class="text-justify"> <b> 2. Jantung </b></p>
        <p class="text-justify">  Penderita diabetes berisiko lebih tinggi terkena penyakit jantung. Gula darah tinggi dapat memengaruhi kesehatan kardiovaskular dengan berbagai cara termasuk serangan jantung.</p>
        <p class="text-justify"> <b> 3. Kaki </b></p>
        <p class="text-justify">  Kerusakan saraf pada diabetes dapat menyebabkan sensasi kesemutan dan mati rasa pada kaki yang juga merupakan tanda diabetes. Kondisi tersebut mengeraskan pembuluh darah yang menyebabkan sirkulasi darah menjadi buruk. Oleh karena itu, seringnya mati rasa pada kaki tidak boleh diabaikan dan Anda harus segera memeriksakan diri.</p>
        <p class="text-justify"> <b> 4. Mata </b></p>
        <img src="{{ url_for('static', filename='css/images/Mata.jpg')}}" width = "800spx" class="img-fluid img-thumbnail: 10%">
        <p class="text-justify">  Diabetes dapat menyebabkan penglihatan buruk dan kehilangan penglihatan dalam kasus yang ekstrim. Penderita diabetes berisiko lebih tinggi terkena infeksi mata. Pembuluh darah di retina juga bisa rusak yang bisa sangat menyakitkan bagi mata.</p>
        <p class="text-justify"> <b> 5. Ginjal</b></p>
        <p class="text-justify">  Ginjal adalah salah satu organ yang paling terpengaruh dengan diabetes. Gula darah tinggi bahkan dapat menyebabkan gagal ginjal yang mungkin mengharuskan Anda untuk menjalani dialisis atau transplantasi ginjal.</p>
     </div>


     <div class="col-md-4">
      <h4 class="text-center"><strong>Berita Terbaru Diabetes Mellitus</strong></h4>
      <br>
      <ul>
        <img src="{{ url_for('static', filename='css/images/Berita1.jpg')}}" width="200spx">
        <br><br>
        <h5 class="text-left" ><strong> Penyakit diabetes bisa mengancam siapa saja</strong></h5>
        <p>Bukan hanya orang yang memiliki riwayat penyakit turunan, namun pada orang-orang yang tidak mau menjaga kesehatannya dengan baik.Oleh karenanya, melakukan pencegahan sejak dini harus dilakukan</p>
        <a href="/informasi1">
         Baca Selengkapnya...</a>
         <br><br>
     
         <img src="{{ url_for('static', filename='css/images/Informasi2.jpg')}}" width="200spx">
        <br><br>
        <h5 class="text-left" ><strong>Gula Darah Rendah, Ancaman Lain pada Penderita Diabetes Mellitus</strong></h5>
        <p>Penderita diabetes sangat rentan untuk mengalami fluktuasi kadar gula darah harian yang ekstrem. Tidak banyak yang tahu bahwa bukan hanya kadar gula darah tinggi yang berbahaya untuk penderita diabetes, namun kadar gula darah rendah pun tidak kalah mengancam nyawa.</p>
        <a href="/informasi">
         Baca Selengkapnya...</a>
         <br><br>

         <img src="{{ url_for('static', filename='css/images/Informasi3.jpg')}}" width="200spx">
        <br><br>
        <h5 class="text-left" ><strong>Cek Sekarang, Masalah Kulit yang Bisa Jadi Tanda Diabetes</strong></h5>
        <p>Suara.com - Diabetes melitus seringkali memuncukan berbagai gejala mulai dari sering haus, sering buang air kecil hingga gangguan pada kulit.

         Gangguan pada kulit ini seringkali juga mirip dengan masalah kesehatan lainnya. Maka itu penting untuk memeriksa kulit Anda sekarang. Bisa jadi masalah kulit itu sebagai tanda diabetes</p>
        <a href="/informasi">
       Baca Selengkapnya...</a> 

       <img src="{{ url_for('static', filename='css/images/Informasi4.jpg')}}" width="200spx">
        <br><br>
        <h5 class="text-left" ><strong>Faktor Risiko Diabetes Melitus Mulai Dialami Anak-anak dan Remaja</strong></h5>
        <p>Topik orasi Laurentia Konadi adalah Pencegahan Diabetes Melitus melalui Pengendalian Faktor Risiko Sejak Dini. Penelitian yang dilakukan Laurentia mengungkap diabetes melitus (DM) tipe 2 yang biasanya terjadi pada orang dewasa, sekarang sudah terjadi pada anak.</p>
        <a href="/informasi">
       Baca Selengkapnya...</a> 
       <br><br>
     </div>
   </div>
  </div>
</div>

<div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <small>&copy; 2021. Sipede (Sistem Prediksi Penyakit Diabetes). Arvi Pramudyantoro</small>
    </div>
  </div>